version: 2.1

# Use a package of configuration called an orb.

orbs:
  newman: postman/newman@0.0.2
  cypress: cypress-io/cypress@1.29.0  
# Orchestrate or schedule a set of jobs

jobs:
  newman-collection-run:
    executor: newman/postman-newman-docker
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: npm install
      
      - newman/newman-run:
          collection: Tests.postman_collection.json   
                    
workflows:
  example-workflow:
    jobs:
     -   cypress/install
     -   cypress/run 
     -   newman-collection-run
    
