version: 2.1

# Use a package of configuration called an orb.

orbs:
  newman: postman/newman@0.0.2

# Orchestrate or schedule a set of jobs

jobs:
  example-job:
    docker:
      # replace with your preferred image
        - image: circleci/node:12
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: npm install
     
      - newman/newman-run:
          collection: /tests/Tests.postman_collection.json                    
                    
workflows:
  example-workflow:
    jobs:
      - example-job
