version: 2.1
# Use a package of configuration called an orb.
orbs:
  cypress: cypress-io/cypress@1.29.0
# Orchestrate or schedule a set of jobs
workflows:
  example-workflow:
      jobs:
        - cypress/run:
            yarn: true 
          
